:root {
  /* Primary colors */
  --moderate-cyan: #3cb4ac;
  --dark-cyan: hsl(176, 72%, 28%);

  /* Neutral colors */
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);

  /* Font */
  --ff-primary: 'Commissioner', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 16px;
  margin: 0;
}

/* overlays for navigation and modal */
.nav-overlay {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
	opacity: 0.5;
	position: fixed;
	z-index: 5;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-overlay {
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	z-index: 8;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.thanks-box {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	z-index: 10;
	height: 100vh;
}

.thanks-box.active-thanks-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.thanks-for-support {
	border-radius: 8px;
	max-width: 327px;
	padding: 32px 24px 40px;
	text-align: center;
	background-color: white;
}

.thanks-box .check-img-wrapper {
	margin-bottom: 24px;
}

.thanks-box .thanks-box-header {
	color: #000;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 24px;
}

.thanks-box .thanks-box-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 31.5px;
	color: var(--dark-gray);
}

.thanks-box .thanks-box-got-it {
	display: inline-block;
	color: white;
	background-color: var(--moderate-cyan);
	font-size: 14px;
	font-weight: 700;
	line-height: 17.12px;
	padding: 16px 33px;
	border-radius: 33.5px
}

.thanks-box .thanks-box-got-it:hover {
	background-color: var(--dark-cyan);
	cursor: pointer;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: 18px 42px;
	font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.57px;
  border-radius: 33.5px;
  background-color: var(--moderate-cyan);
  color: #fff;
}

.btn:hover {
	background-color: var(--dark-cyan);
	cursor: pointer;
}

.destkop-nav {
  display: none;
}

.mobile-nav.active {
  display: block;
}

.mobile-nav {
  display: none;
  position: absolute;
  z-index: 5;
  top: 88px;
  left: 24px;
  right: 24px;
  background-color: white;
  border-radius: 8px;
}

.mobile-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav ul li {
  padding: 24px;
}

.mobile-nav ul li:nth-child(1),
.mobile-nav ul li:nth-child(2) {
  border-bottom: 1px solid #d3d3d3;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  line-height: 22px;
}

/* Modal styling */
.pop-up {
  display: none;
}

.pop-up.active-modal {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
	background-color: transparent;
	z-index: 9;
}

.modal-container {
	position: relative;
	top: 121px;
	background-color: #fff;
	max-width: 327px;
	margin: 0 auto;
	padding: 32px 24px;
	border-radius: 8px;
}

.modal-container .close-icon {
	position: absolute;
	top: 36px;
	right: 24px;
}

.modal-container .close-icon:hover {
	cursor: pointer;
}

.modal-container h3 {
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin-bottom: 24px;
}

.modal-container p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 24px;
	color: var(--dark-gray)
}

.stand-editions {
	position: relative;
	padding: 32px 24px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	display: grid;
	grid-template-columns: auto 1fr;
}

.stand-editions:not(.stand-editions:last-child) {
	margin-bottom: 24px;
}

.first-stand label {
	align-self: center;
	color: #000;
	font-size: 14px;
	line-height: 17.12px;
	font-weight: 700;
}

.stand-editions label:hover {
	color: var(--dark-cyan);
	cursor: pointer;
}

.first-stand .stand-editions-text {
	grid-area: 2 / 1 / 3 / 3;
	margin: 0;
	margin-top: 33px;
}

.first-stand.active-article .stand-editions-text {
	margin-bottom: 24.5px;
}

.first-stand .confirm-pledge {
	grid-area: 3 / 1 / 4 / 3;
}

#number-selectf::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.second-stand {
	grid-template-rows: repeat(6, auto);
}

.second-stand .styled-radio-input {
	grid-area: 1 / 1 / 3 / 2;
	justify-self: center;
	align-self: center;
}

.second-stand label {
	color: #000;
	font-size: 14px;
	line-height: 17.12px;
	font-weight: 700;
	margin-bottom: 8px;
}

.second-stand .stand-editions-price {
	margin: 0;
	font-size: 14px;
	line-height: 17.12px;
	font-weight: 500;
	color: var(--dark-cyan);
}

.second-stand .stand-editions-text {
	margin: 24px 0;
	grid-area: 3 / 1 / 4 / 3;
}

.second-stand .stand-editions-number {
	margin: 0;
	grid-area: 4 / 1 / 5 / 3;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #000;
}

.second-stand .stand-editions-number:not(.stand-editions-number:last-child) {
	margin-bottom: 24.5px;
}

.second-stand .stand-editions-number span {
	margin-left: 8px;
	font-size: 15px;
	line-height: 18.35px;
	font-weight: 400;
	color: var(--dark-gray);
}

.second-stand .confirm-pledge {
	grid-area: 5 / 1 / 6 / 3;
	display: none;
}

.first-stand .confirm-pledge {
	display: none;
}

.second-stand.active-article .confirm-pledge,
.first-stand.active-article .confirm-pledge {
	display: flex;
	flex-direction: column;
}

.second-stand .confirm-pledge::before,
.first-stand .confirm-pledge::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
	display: block;
	transform: translateX(-24px);
}

.confirm-pledge .confirm-pledge-text {
	margin-top: 23.5px;
	text-align: center;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	color: var(--dark-gray);
}

.confirm-pledge .confirm-pledge-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.confirm-pledge-price .confirm-price {
	padding: 15px 24px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 33.5px;
	width: 100px;
	display: flex;
	align-items: baseline;
}

.confirm-pledge-price .confirm-price span {
	font-size: 14px;
	line-height: 17.12px;
	font-weight: 700;
	color: var(--dark-gray);
	margin-right: 8px;
}

.confirm-pledge-price .confirm-price .enter-value {
	width: 100%;
	outline: none;
	border: none;
	font-size: 14px;
	line-height: 17.12px;
	color: #000;
	font-weight: 700;
	padding: 0;
}

.confirm-pledge-price .confirm-pledge-continue {
	font-size: 14px;
	line-height: 17.12px;
	font-weight: 700;
	color: #fff;
	padding: 15px 25px;
	background-color: var(--moderate-cyan);
	border-radius: 33.5px;
}

.confirm-pledge-price .confirm-pledge-continue:hover {
	cursor: pointer;
	background-color: var(--dark-cyan);
}

.stand-editions .radio-input {
	margin: 0;
	display: none;
}

/* custom radio button */
.stand-editions .styled-radio-input {
	padding: 6px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	display: inline-block;
	margin-right: 16px;
}

.stand-editions .styled-radio-input::after {
	content: '';
	display: block;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: var(--moderate-cyan);
	transform: scale(0);
} 

.stand-editions .radio-input:checked + .styled-radio-input::after {
	transform: scale(1);
}
/* end of custom button */


/* end of modal styling */

.container {
	position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.00001) 30%, rgba(0, 0, 0, 0.6)), url('./images/image-hero-mobile.jpg');
  background-size: cover;
  height: 300px;
}

.nav {
  padding: 32px 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
	position: relative;
	z-index: 6;
}

.nav h3 {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.wrapper {
  padding: 0 24px;
	padding-bottom: 76px;
  /* max-width: 350px/ */
}

.article {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
	margin-right: auto;
	margin-left: auto;
	max-width: 327px;
}

.article:not(.article:last-child) {
	margin-bottom: 24px;
}

.one {
  padding: 0 24px 40px;
  margin-top: -65px;
}

.mastercraft-logo {
  display: inline-block;
  position: relative;
  left: 50%;
  top: -26px;
  transform: translateX(-50%);
}

.one h2 {
  max-width: 270px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.46px;
  color: #000;
  text-align: center;
  margin-bottom: 16px;
}

.one p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 24px;
}

.bookmark-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-wrapper .bookmark-text {
  display: none;
}

.bookmark-wrapper .bookmark-button:hover {
	cursor: pointer;
}

.bookmark-wrapper .svg-circle:hover {
	fill: #707070;
}

.bookmark-button.bookmarked .svg-circle {
	fill: #147A73;
}

.bookmark-button.bookmarked .svg-path {
	fill: #fff;
}

.bookmark-button.bookmarked .bookmark-text {
	fill: #147A73;
}

.two {
  padding: 32px 25px 40px;
}

.two .number-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.two .number-wrapper {
  text-align: center;
}

.sum-wrapper {
	margin: 0;
	font-size: 32px;
  line-height: 39.14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 9px;
	color: #000;
}

#dollar,
#dollar-value {
  font-size: 32px;
  line-height: 39.14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 9px;
	color: #000;
}


.two .number-wrapper span {
  display: inline-block;
  font-size: 14px;
  line-height: 17.12px;
  color: var(--dark-gray);
  margin-bottom: 24px;
}

.two .number-wrapper .number-wrapper-line {
  height: 1px;
  width: 80px;
  margin: 0 auto;
  background-color: #c9c9c9;
  margin-bottom: 24px;
}

.two .progress-bar-wrapper {
  height: 12px;
  width: 218px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 33.5px;
}

.two .progress-bar-wrapper .progress-bar {
	border-radius: 33.5px;
	height: 12px;
  width: 75%;
	background-color: var(--dark-cyan);
}

.three {
	padding: 40px 24px;
}

.three h3 {
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin-bottom: 24px;
}

.three p {
	color: var(--dark-gray);
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.three > p:nth-child(3) {
	margin-bottom: 35px;
}

.bamboo-stand {
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	padding: 24px;
}

.bamboo-stand:not(.bamboo-stand:last-child) {
	margin-bottom: 24px;
}

.bamboo-stand h4 {
	margin: 0;
	margin-bottom: 8px;
	color: #000;
	font-size: 14px;
	line-height: 17.12px;
	font-weight: 700;
}

.bamboo-stand .bamboo-stand-price {
	margin: 0;
	margin-bottom: 24px;
	color: var(--moderate-cyan);
	font-size: 14px;
	line-height: 17.12px;
	font-weight: 500;
}

.bamboo-stand .bamboo-stand-content {
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: var(--dark-gray);
}

.bamboo-stand .bamboo-stand-button .number-of-days {
	font-size: 32px;
	font-weight: 700;
	line-height: 39.14px;
	color: #000;
	margin: 0;
	margin-bottom: 24px;
}

.bamboo-stand .bamboo-stand-button .number-of-days-left {
	font-size: 15px;
	font-weight: 400;
	line-height: 18.35px;
	color: var(--dark-gray);
}

.bamboo-stand .bamboo-stand-button .bamboo-stand-btn {
	font-size: 14px;
	line-height: 17.12px;
	padding: 15px 32px;
	font-weight: 700;
}

.inactive  {
	opacity: .5;
}

.inactive .bamboo-stand-btn {
	background-color: #2F2F2F;
	opacity: .5;
}


/************************ DESKTOP ****************************/
@media (min-width: 768px) {
	.header {
		background: linear-gradient(to top, rgba(0, 0, 0, 0.00001) 30%, rgba(0, 0, 0, 0.6)), url(./images/image-hero-desktop.jpg);
		background-size: cover;
		background-position: center center;
		height: 400px;
	}
	
	.nav {
		padding: 48px 75px 0;
		max-width: 1100px;
		margin: 0 auto;
	}
	
	.hamburger-icon {
		display: none;
	}
	
	.mobile-nav {
		display: none;
	}
	
	.destkop-nav {
		display: block;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.destkop-nav li {
		margin-left: 32px; 
	}
	
	.destkop-nav li a {
		text-decoration: none;
		color: #fff;
		font-size: 13px;
		line-height: 15.9px;
	}
	
	.destkop-nav li a:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	
	.article {
		max-width: 736px;
		padding: 48px;
		padding-top: 0;
	}
	
	.one h2 {
		max-width: 100%;
		font-size: 28px;
		line-height: 34.24px;
	}
	
	.one p {
		font-size: 16px;
		line-height: 19.57px;
		margin-bottom: 40px;
	}
	
	.bookmark-button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background-color: #f4f4f4;
		border-radius: 33.5px;
		width: 174px;
		height: 56px;
		position: relative;
	}
	
	.bookmark-button:hover {
		cursor: pointer;
	}
	
	.bookmark-button:hover .svg-circle {
		fill: #707070;
	}
	
	.bookmark-button.bookmakred:hover .svg-circle {
		fill: #3cb4ac;
	}
	
	.bookmark-button.bookmarked .bookmark-text {
		color: #147A73;
	}
	
	.bookmark-wrapper .bookmark-text {
		display: block;
		margin: 0;
		margin-left: 16px;
		color: var(--dark-gray);
		font-size: 16px;
		/* line-height: 19.57px; */
		font-weight: 700;
	}
		
	.two,
	.three {
		padding-top: 48px;
	}
	
	.two .number-section {
    flex-direction: row;
	}
	
	.two .number-section .number-wrapper {
		flex-basis: 33%;
		text-align: left;
		position: relative;
		font-family: inherit;
	}
	
	.two .number-wrapper .number-wrapper-line {
    transform: rotate(90deg);
		width: 63px;
		position: absolute;
		right: 5px;
		bottom: 30px;
		background-color: #000;
		opacity: 0.15;
	}

	.two .progress-bar-wrapper {
		height: 12px;
		width: 100%;
		margin: 0 auto;
		background-color: #f5f5f5;
		border-radius: 33.5px;
	}
	
	.three h3 {
		font-size: 20px;
		line-height: 24.46px;
		font-weight: 700;
		margin-bottom: 35px;
	}
	
	.three p {
    font-size: 16px;
    line-height: 30px;
	}
	
	.three > p:nth-child(3) {
		margin-top: 24px;
    margin-bottom: 40px;
	}
	
	.bamboo-stand {
    padding: 38px 32px 32px;
	} 
	
	.bamboo-stand-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
	}
	
	.bamboo-stand h4 {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
	}
	
	.bamboo-stand .bamboo-stand-price {
    margin: 0;
    font-size: 15px;
    line-height: 18.35px;
	}
	
	.bamboo-stand .bamboo-stand-content {
    font-size: 16px;
    line-height: 30px;
	}
	
	.bamboo-stand-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.bamboo-stand .bamboo-stand-button .number-of-days {
    margin: 0;
	}
	
	.modal-container {
    position: relative;
    top: 184px;
    background-color: #fff;
    max-width: 730px;
    margin: 0 auto;
    padding: 48px;
    border-radius: 8px;
	}
	
	.modal-container h3 {
    margin: 0;
    font-size: 24px;
    line-height: 29.35px;
    margin-bottom: 16px;
	}
	
	.modal-container .close-icon {
    position: absolute;
    top: 32px;
    right: 32px;
	}
	
	.modal-container p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 32px;
	}
	
	.stand-editions {
    padding: 33px 28px;    
	}
	
	.pledge {
		padding-bottom: 0;
	}
	
	.first-stand {
		grid-template-columns: auto 1fr 1fr;
	}
	
	.first-stand label {
    align-self: center;
    font-size: 16px;
    line-height: 19.57px;
	}
	
	.first-stand .stand-editions-text {
    margin-top: 17px;
		grid-area: 2 / 2 / 3 / 4;
	}
	
	.first-stand .confirm-pledge {
		grid-area: 3 / 1 / 4 / 4;
	}
	
	.first-stand.active-article .confirm-pledge {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0 20px 0;
	}
	
	.first-stand.active-article .confirm-pledge::before {
		content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    transform: translate(-28px, -55px);
	}
	
	.first-stand.active-article .confirm-pledge .confirm-pledge-text {
		margin: 0;
	}
	
	.first-stand.active-article .stand-editions-text {
    margin-bottom: 44.5px;
	}
	
	.first-stand.active-article {
		padding-bottom: 10px;
	}
	
	.second-stand {
		grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
		align-items: center;
	}
	
	.second-stand .styled-radio-input {
    grid-area: 1 / 1 / 2 / 2;
	}
	
	.second-stand label {
		justify-self: start;
    font-size: 16px;
    line-height: 19.57px;
		margin: 0;
	}

	.second-stand .stand-editions-price {
    font-size: 16px;
    line-height: 19.57px;
    font-weight: 700;
	}
	
	.second-stand .translate {
		transform: translateX(-50px);
	}
	
	.second-stand .stand-editions-number {
    grid-area: 1 / 4 / 2 / 5;    
		justify-self: end;
	}
	
	.second-stand .stand-editions-number:not(.stand-editions-number:last-child) {
    margin-bottom: 0;
	}
	
	.second-stand .stand-editions-text {
    margin: 0;
		margin-top: 17px;
    grid-area: 2 / 2 / 3 / 5;
		margin-bottom: 32px;
	}
	
	.second-stand .margin-bottom-none {
		margin-bottom: 0;
	}
	
	.second-stand .confirm-pledge {
    grid-area: 3 / 1 / 4 / 5;
		display: none;
		justify-content: space-between;
		align-items: center;
		padding: 28px 0;
	}
	
	.second-stand.active-article .confirm-pledge {
		display: flex;
		flex-direction: row;
	}
	
	.second-stand .confirm-pledge::before {
    transform: translate(-28px, -57px);
	}
	
	.second-stand .confirm-pledge .confirm-pledge-text {
		margin: 0;
    font-size: 15px;
		line-height: 28px;
	}
	
	.confirm-pledge-price .confirm-price {
		margin-right: 16px;
	}
	
	.thanks-for-support {
		max-width: 540px;
		padding: 48px;
	}
	
	.thanks-box .check-img-wrapper {
		width: 90px;
		height: 90px;
		margin-right: auto;
		margin-left: auto;
    margin-bottom: 47.5px;
	}
	
	.thanks-box .check-img-wrapper img { 
		width: 100%;
	}
	
	.thanks-box .thanks-box-header {
    font-size: 24px;
    line-height: 29.35px;
    margin-bottom: 16px;
	}
	
	.thanks-box .thanks-box-text {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 32px;
	}
}


